{% extends 'base.html.twig' %}

{% block title %}Agence{% endblock %}

{% block body %}


    <div class=" text-3xl text-red-400">
        welcome to home controller
        <br><br>
        {% for property in properties %}
            <a href="{{ path('property.show', {id: property.id, slug:property.slug}) }}"><h1>{{ property.title }}</h1></a>
            <h2>{{ property.formatedPrice }} $</h2>
        {% endfor %}

    </div>

{% endblock %}
