{% extends 'base.html.twig' %}

{% block title %}Agence{% endblock %}

{% block body %}

    <section class="banner-section mb-[4rem]">
        <div class="content bg-[#1c55888f] h-full w-full">
            <div class="flex flex-col justify-center items-center h-full text-white desktop-width">
                <h1 class="sm:text-[5rem] text-[3rem] text-center font-semibold pt-serif leading-[1]">Modern Asset In Town</h1>
                <p class="font-medium pt-serif text-lg text-center mt-4">Find your dream house and live a beautiful life with your beloved family </p>
                <a href="{{path('property.index')}}" class="text-lg font-semibold text-white px-[20px] py-[10px] rounded-md bg-main
                 hover:bg-back transition-all duration-300 mt-8">
                    Explore More
                </a>
            </div>
        </div>
    </section>

    <section class="properties-section mb-[7rem] desktop-width">
        <div class="content mb-4 flex flex-wrap gap-12 justify-center">
            {% for property in properties %}
                {% include '_files/property-grid.html.twig' with {'property':property} %}
            {% endfor %}
        </div>
    </section>

    <section class="le-monde mb-[7rem]">
        <div class="desktop-width">
            <h5 class="styled-title text-center max-w-[67rem] w-full mt-4 mb-[3rem] mx-auto">More than 60,000 houses & apartments around the world.</h5>
            <div class="grid-container ">
                <div class="w-full relative">
                    <img class="w-full" src="images/viles/boston.jpg" alt="Boston" role="img">
                    <h5 class="text-white font-semibold text-[2rem] cursor-pointer">Boston</h5>
                </div>
                <div class="w-full relative">
                    <img class="w-full h-full" src="images/viles/la.webp" alt="Los Angeles" role="img">
                    <h5 class="text-white font-semibold text-[2rem] cursor-pointer">Los Angeles</h5>
                </div>
                <div class="w-full relative">
                    <img class="w-full h-full" src="images/viles/new york.jpg" alt="New York" role="img">
                    <h5 class="text-white font-semibold text-[2rem] cursor-pointer">New York</h5>
                </div>
                <div class="w-full relative">
                    <img class="w-full h-full" src="images/viles/chicago.webp" alt="Chicago" role="img">
                    <h5 class="text-white font-semibold text-[2rem] cursor-pointer">Chicago</h5>
                </div>
                <div class="w-full relative">
                    <img class="w-full h-full" src="images/viles/francisco.jpg" alt="San Francisco" role="img">
                    <h5 class="text-white font-semibold text-[2rem] cursor-pointer">San Francisco</h5>
                </div>
                <div class="w-full relative">
                    <img class="w-full h-full" src="images/viles/brazil.webp" alt="Rio De Janeiro" role="img">
                    <h5 class="text-white font-semibold text-[2rem] cursor-pointer">Rio De Janeiro</h5>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter bg-[#1c558869]">
        <div class="content p-8 desktop-width">
            <h5 class="styled-title text-center max-w-[32rem] w-full my-4 mx-auto">Subscribe to the newsletter</h5>
            <div class="form-newsletter max-w-[42rem] w-full mt-[3rem] mb-[7rem] mx-auto">
                <form action="#" method="post" class="w-full">
                    <input class="input-field w-full" type="email"  name="newsletter" placeholder="Newsletter" required>
                    <div class="flex justify-center">
                        <button type="submit" class="btn-submit mx-auto !w-[12rem]">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
