{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


    <div class=" text-3xl text-red-400">
        Sallut pt comment sava
    </div>

{% endblock %}
