{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}

<section class="about-section">
    <div class="content mb-[7rem] desktop-width">
        <h1 class="text-3xl font-bold mt-8">About <span class="text-main">Helter</span></h1>
        <div class="about-content mt-8">
            <p class="text-main">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quas quod aspernatur molestiae voluptates quia exercitationem ducimus asperiores eum a atque itaque mollitia optio cumque ipsa quam, rerum tempore. Perspiciatis?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quas quod aspernatur molestiae voluptates quia exercitationem ducimus asperiores eum a atque itaque mollitia optio cumque ipsa quam, rerum tempore. Perspiciatis?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quas quod aspernatur molestiae voluptates quia exercitationem ducimus asperiores eum a atque itaque mollitia optio cumque ipsa quam, rerum tempore. Perspiciatis?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quas quod aspernatur molestiae voluptates quia exercitationem ducimus asperiores eum a atque itaque mollitia optio cumque ipsa quam, rerum tempore. Perspiciatis?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quas quod aspernatur molestiae voluptates quia exercitationem ducimus asperiores eum a atque itaque mollitia optio cumque ipsa quam, rerum tempore. Perspiciatis?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro quas quod aspernatur molestiae voluptates quia exercitationem ducimus asperiores eum a atque itaque mollitia optio cumque ipsa quam, rerum tempore. Perspiciatis?
            </p>
        </div>
    </div>
</section>

{% endblock %}
