{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <section class="header">
        <h1>Welcome to the Helter Administration</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ratione, provident nostrum explicabo quia fugit praesentium natus a debitis dolores molestiae tempore quidem nobis deserunt temporibus officia totam? Voluptas, illum.</p>
    </section>
{% endblock %}