<header>
    <div class="container">
        <div class="head-1 p-2 bg-[#1C5588]">
            <i class="fa fa-phone"></i>
        </div>
        <div class="head-1 p-2 bg-[#001C2F]"></div>
    </div>
</header>