/* files */
@import url('select2.css');

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    background-color: #ededed;
}

/* css classes */
.pt-serif{
    font-family: "PT Serif", sans-serif;
}
.roboto{
    font-family: "Roboto", sans-serif;
}
.desktop-width{
    max-width: calc(100vw - 7rem);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.general-width{
    max-width: calc(100vw - 7rem);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.property-width{
    max-width: calc(100vw - 27rem);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.input-field{
    @apply ps-2 text-main border border-white hover:border-main rounded-md h-[45px] w-full text-lg outline-none;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.10);
    transition: all .4s;
}
.input-field:focus{
    @apply border-main;
}
.btn-submit{
    @apply bg-main py-[10px] text-white rounded-md hover:bg-transparent hover:text-main sm:w-[55%] w-full mx-auto mt-[2rem]
    border border-white hover:border-main ;
    transition: all .4s;
}
.styled-title{
    @apply relative capitalize py-[7px] sm:text-[2.2rem] text-[23px] text-main font-semibold pt-serif border-main;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.h-textarea{
    height: 17rem;
}
.alert-success{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background: #007000e0;
    color: white;
    border-radius: 5px;
    margin-top: 2rem;
}
.alert-danger{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background: #d42c2c;
    color: white;
    border-radius: 5px;
    margin-top: 2rem;
}



/* css header */
.ul-head-2{
    max-width: calc(100% - 7rem);
}
.ul-head-2 li a, div.login a{
    transition: all .4s;
}
.ul-head-2 li a.active{
    @apply bg-main;
}
.ul-head-2 li a:hover{
    @apply bg-main;
}
.item-link{
    @apply text-white text-[18px] font-medium rounded-md px-[20px] py-[8px] flex items-baseline gap-1;
}
.open{
    transform: translateX(0) !important;
}
/* css banner */
.banner-section{
    background: url('../image/agence/banner-img.jpg');
    @apply bg-no-repeat bg-cover bg-center w-full sm:h-[33rem] h-[27rem];
}

/* css footer */
.bg-footer{
    background: url('../image/agence/footer-bg.jpg');
    @apply bg-no-repeat bg-cover bg-bottom w-full;
}
.footer-link > a:hover{
    transition: all .4s;
}
.links p a:hover{
    @apply text-main;
}

/* css property card */
.property-item{
    @apply max-w-[307px] w-full border border-back;
}
.detail-item{
    @apply border border-main rounded-md px-2 py-1 flex gap-[10px] items-center;
}
.property-item img{
    border-radius: 5px 5px 0 0;
}
.properties-section .property-item{
    @apply border border-back rounded-md;
    transition: all .4s;
}
.properties-section .property-item:hover{
    @apply border-main;
    box-shadow: 5px 9px 18px -6px rgb(28, 85, 136); /* x y blur propagation*/
}
.properties-section .property-item:hover > div.read-more{
    opacity: 0;
}
div.read-more{
    opacity: 0;
    border-radius: 0 0 5px 5px;
    transition: all .4s;
}

/* css login page */
#content-login{
    @apply border border-main rounded-md px-[20px] py-[4rem];
    box-shadow: 3px 3px 16px -8px rgb(28, 85, 136);
}

/* css pagination */
.pagination{
    @apply flex items-center sm:gap-[10px] gap-[5px];
}
.pagination .page a{
    @apply  text-back font-medium py-[10px] sm:px-[20px] px-[10px] rounded-md;
    transition: all .4s;
}
.pagination .first a, .pagination .last a, .pagination .previous a, .pagination .next a{
    @apply  text-back font-medium p-[10px] rounded-md;
    transition: all .4s;
}
.pagination .previous{
    @apply me-4;
}
.pagination .next{
    @apply ms-4;
}
.pagination a:hover{
    @apply bg-main text-white;
}
.pagination .current{
    @apply py-[10px] sm:px-[20px] px-[10px] bg-main text-white rounded-md;
}

/* css form-search */
.form-search-content form{
    @apply flex justify-center gap-8 h-[45px];
}
.form-search-content form input{
    @apply ps-2 text-main border border-white hover:border-main rounded-md h-[45px] text-lg outline-none;
    transition: all .4s;
}
.form-search-content form input:focus{
    @apply border-main;
}
.btn-search{
    @apply bg-main py-[10px] px-12 text-white rounded-md hover:bg-transparent hover:text-main
    border border-white hover:border-main ;
    transition: all .4s;
}

/* css property page */
.property-title{
    @apply relative capitalize py-[7px] sm:text-[2.2rem] text-2xl text-main font-semibold pt-serif border-main;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
.property-title:before{
    content: '';
    position: absolute;
    top: -6px;
    left: 0px;
    padding: 3px 27px;
    background-color: #1c5588;
}
.tech-table{
    @apply max-w-[500px] w-full px-[24px] text-[1.2rem];
}
.tech-table tr:nth-child(odd){
    background-color: #1c5588cf;
    color: white;
}
.tech-table td{
    width: 50%;
}
.property-option{
    @apply text-lg py-2 text-back p-[5px] rounded-md;
    border: 1px solid #00000069;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
}
.grid-container div{
    overflow: hidden;
}
.grid-container div > *{
    transition: all .4s;
}
.grid-container div > h5 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(360deg, #000000bf, transparent);
    transition: all .4s;
}
.grid-container div:hover > img{
    transform: scale(1.2);
}

/* css page contact */
.form-contact div{
    width: 100%;
}


/* mobile */
@media screen and (max-width: 640px) {
    .desktop-width{
        max-width: none;
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
    }
    .general-width{
        max-width: 100%;
        margin: 0;
        width: 100%;
    }
    .property-width{
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
    }
    .ul-head-2{
        max-width: none !important;
        width: 100%;
    }
    .ul-head-2 li{
        width: 100%;
    }
    /* head-2 */
    #head-2{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        transform: translateX(45rem);
        z-index: 10;
    }
    .grid-container {
        grid-template-columns: auto;
    }
}